@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-c
}

html,
body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: -webkit-linear-gradient(left, #1f1f1f, #1f1f1f);
}

::selection {
    background: white;
    color: white;
}

.wrapper {
    overflow: hidden;
    max-width: 390px;
    background: #111111;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px #102733;
}

.wrapper .title-text {
    display: flex;
    width: 200%;
    color: white;
}

.wrapper .title {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.slide-controls .slide {
    height: 100%;
    width: 100%;
    color: #e3d105;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}


/*.slide-controls label.Manager {
    color: #000;
}*/

.slide-controls label.Employee {
    color: black;
}

.slide-controls .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #e3d105, #e3d105);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type="radio"] {
    display: none;
}

#Employee:checked~.slider-tab {
    left: 50%;
}

#Employee:~label.Employee {
    color: black;
    cursor: default;
    user-select: none;
}

#Employee:checked~label.Manager {
    color: white;
}

#Manager:checked~label.Employee {
    color: white;
}

#Manager:checked~label.Manager {
    color: black;
    cursor: default;
    user-select: none;
}

.italic::-webkit-input-placeholder
{ 
    font-style: italic;
}

.wrapper .form-container {
    width: 100%;
    overflow: hidden;
}

.form-container .form-inner {
    display: flex;
    width: 200%;
}
.fpbtn{
    color: #e3d105;

}
.form-container .form-inner form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.form-inner form .field {
    color: white;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    background-color: #e3d105;
}

.form-inner form .field input {
    color: white;
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
}

.form-inner form .field input:focus {
    border-color: #102733;
    /* box-shadow: inset 0 0 3px #fb6aae; */
}

.form-inner form .field input::placeholder {
    color: #102733;
    transition: all 0.3s ease;
}

form .field input:focus::placeholder {
    color: #102733;
}

.form-inner form .pass-link {
    margin-top: 5px;
}

.form-inner form .signup-link {
    text-align: center;
    margin-top: 30px;
}


/*.form-inner form .pass-link a,
.form-inner form .signUp-link a {
    color: #fa4299;
    text-decoration: none;
}
*/


/*
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
    text-decoration: underline;
}
*/

form .btn {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

form .btn .btn-layer {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #e3d105, #e3d105, #e3d105 #e3d105);
    border-radius: 5px;
    transition: all 0.4s ease;
}

form .btn:hover .btn-layer {
    left: 0;
}

form .btn input[type="submit"] {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #102733;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}